/* src/client/style/index.css */

/* --- Define Title Fonts --- */

/* English Font Fallback 1 */
@font-face {
	font-family: 'Bemirs Demo';
	src: url('/fonts/BemirsDemoVersionRegular-X361d.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* English Font Fallback 2 */
@font-face {
	font-family: 'Foglihtenno';
	src: url('/fonts/Foglihtenno07calt-WpzEA.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* English Font Fallback 3 */
@font-face {
	font-family: 'Ipanema Secco';
	src: url('/fonts/IpanemaSecco-463W.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Korean Font Fallback 1 */
@font-face {
	font-family: 'Y Universe';
	src: url('/fonts/YUniverse-B.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Korean Font Fallback 2 */
@font-face {
	font-family: 'Cafe24ClassicType';
	src: url('/fonts/Cafe24Classictype-v1.1.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
